<footer>
    <div id="footer-items">
        <ul>
            <li>&copy Rudra Shankar</li>
            <li>All rights are reserved</li>
            <li><ul>
                <li><a href="/">Home</a></li>
                <li><a href="/users/profile">profile</a></li>
            </ul></li>
        </ul>
    </div>
</footer>