<h1>Register to Codeial</h1>
<form action="/users/create" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="abcdsef" required>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="abc@def.asd" required>
    <input type="password" name="password" placeholder="*****" required>
    <label for="password">Confirm Password</label>
    <input type="password" name="confirm_password" placeholder="*****" required>
    <button type="submit"> Register User</button>
</form>