<h1>Login to codeial</h1>
<form action="/users/create-session" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="abc@def.asd" required>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="*****" required>
    <button type="submit">Login</button>
</form>