<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><=title%></title>
</head>
<body>
    <h1>Register to Codeial</h1>
    <form action="users/register-user" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="abcdsef" required>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="abc@def.asd" required >
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="*****" required>
        <button type="submit"> Register User</button>
    </form>
</body>
</html>